build
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
configure.in
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
missing
mkinstalldirs
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/POTFILES
po/*.gmo
po/*.pot
po/stamp-it
src/.deps/
src/Makefile
src/Makefile.in
src/checkcopy
src/*.o
src/tags
src/core*
stamp-h1
autogen.configureflags
checkcopy-*.tar.*
.*.swp
